.container {
  height: 100%;
  min-height: calc(100vh - 40px); /* 40px: padding top and bottom */
  padding: 20px;
  background: #83a4d4;  /* fallback for old browsers */
  background: linear-gradient(to left, #b6fbff, #83a4d4);
  color: #171212;
}

.headlinePrimary {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}


/* List's item */
.item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.item > span {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;
}


/* Button */
.button {
  background: transparent;
  border: 1px solid #171212;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  display: flex; /*Display: inline-block cause extra free space inside.*/
}

.button:hover {
  background: #171212;
  color: #ffffff;
}

.buttonHoverSvgStroke:hover > svg > path {
  fill: #ffffff;
  stroke: #ffffff;
}

.buttonSmall {
  padding: 5px;
}

.buttonLarge {
  padding: 10px;
}


/* Search form */
.searchForm {
  padding: 10px 0 20px;
  display: flex;
  align-items: baseline;
}

.label {
  border-top: 1px solid #171212;
  border-left: 1px solid #171212;
  padding-left: 5px;
  font-size: 24px;
}

.input {
  border: none;
  border-bottom: 1px solid #171212;
  background-color: transparent;
  font-size: 24px;
}
